.community-list-wrapper {
  width: 40%;
  padding: 20px 0 40px 0;
  margin: 0 0 100px 0;
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 4%;
  grid-row-gap: 4%;
  justify-items: center;
}