// Styling for the individual issue cards
// that appear on the user's profile

// MQ Breakpoints
$break-desktop: 1200px;
$break-tablet: 992px;
$break-phone-landscape: 768px;
$break-phone: 576px;

.issue-card-wrapper {
  height: 400px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $break-phone-landscape) {
    flex-direction: column;
    width: 100%;
    height: 350px;
  }
}

.issue-card {
  height: 300px;
}

.issue-card-status-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 12px;
}

.issue-card-status--upvotes {
  display: flex;
  height: 29px;
  width: 50%;
}
