// MQ Breakpoints
$break-desktop: 1200px;
$break-tablet: 992px;
$break-phone-landscape: 768px;
$break-phone: 576px;

.list-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  background: none;
  width: 800px;
  @media screen and (max-width: $break-phone-landscape) {
      width: 90%;
  }
}