.profile-main-wrapper {
  height: 100vh;
  width: 100vw;
  background: $profile-gray;
}

.profile-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.profile-btn-wrapper {
  width: 400px;
  border: 1px solid black;
  display: flex;
}

.profile-user-issues-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card-btn-wrapper {
  margin: 10px 0;
}

.profile-card-btn--addIssue {
  @include btn-base;

  background: $royal-blue;
  height: 40px;
  width: 400px;
}