.card-main-wrapper {
  height: 400px;
  width: 400px;
  min-width: 400px;
  border-radius: 4px;
  background: $white;
  box-shadow: 3px 3px 5px 2px lightgray;
}

.profile-card-btn--edit {
  position: relative;
  top: 5px;
  left: 370px;
  color: $dark-blue;
  transition: color .2s;

  -webkit-transition: color .2s;

  &:hover {
    cursor: pointer;
    color: $royal-blue;
    transition: color .2s;
  }
}

.card-profile-img-wrapper {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-profile-content-wrapper {
  height: 40%;
  width: 90%;
  margin: 10px 5%;
}

.card-profile-content-name {
  margin: 0 0;
  font-size: 1.7rem;
}

.profile-card-username {
  color: gray;
}

.profile-card-email-wrapper {
  display: flex;
}

.profile-card-email {
  width: 50%;
}