$black: #000000;
$deep-purple: #615263;
$light-gray: #f6f9fc;
$mint-green: #3ecf8e;
$profile-gray: #ECECEC;
$royal-blue: #2892f0;
$dark-blue: #004a8c;
$white: #fff;

// Purples
$deep-purple: #615263;
$less-deep-purple: #8c709e;
$pale-purple: #ded6e3;

.blue {
  color: $royal-blue;
}

.white {
  color: $white;
}