.ui.celled.collapsing.very.basic.table.list-table {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.ui.basic.table tbody tr {
  height: 100px;
}

.ui[class*="very basic"].table:not(.sortable):not(.striped) thead tr:first-child th {
  font-size: 18px;
  text-align: center;
  padding-right: 10px;
}